.social_button {
	display: flex;
	flex-direction: row;
	line-height: 34px;
	cursor: pointer;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: box-shadow ease-in-out 50ms;
	-webkit-transition: box-shadow ease-in-out 50ms;
	-moz-transition: box-shadow ease-in-out 50ms;
	-ms-transition: box-shadow ease-in-out 50ms;
	-o-transition: box-shadow ease-in-out 50ms;
	text-decoration: none;
	padding: 0 6px;
}

.social_button:active {
	box-shadow: inset 1px 1px 1px 1px #2b282880;
}

.social_button__icon_container {
	display: flex;
	box-sizing: border-box;
	padding: 0 5px;
	align-items: center;
}

.social_button__icon {
	width: 25px;
	height: 25px;
}

.social_button__label {
	padding-right: 5px;
	font-size: 14px;
}

/* React */

.social_button.react {
	background-color: #20232a;
	color: #fff;
}

.social_button.react:active {
	box-shadow: inset 1px 1px 1px 1px #000000;
}

/* ##END## React */

/* MobX */

.social_button.mobx {
	background-color: #035193;
	color: #fff;
}

/* ##END## MobX */

/* Redux */

.social_button.redux {
	background-color: #764abc;
	color: #fff;
}

/* ##END## Redux */
