:root {
	--button-color-default: #2ecc71;
	--button-color-hover: #30be6b;
}

.container {
	display: flex;
}

.button {
	padding: 6px 20px;
	border: none;
	border-radius: 4px;
	background-color: var(--button-color-default);
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
}

.button:hover {
	background-color: var(--button-color-hover);
}

.button:active {
	box-shadow: inset 1px 1px 3px 1px #22222238;
}
