.container {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.brand {
	width: 180px;
	height: 24px;
	background-image: url(./contents/UInvest.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
