.home_container {
	display: flex;
    margin: 10vh auto 0 auto;
	flex-direction: column;
	align-items: center;
}

.home_container__socials {
	position: fixed;
	display: flex;
	top: 10px;
	left: 10px;
}

.home_container__socials > a:not(:last-child) {
	margin-right: 5px;
}

.home_container__image {
	width: 20vw;
}

.home_container__bonjour {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
	color: #4a9cff;
	line-height: 45px;
}