.info {
	width: 10px;
	height: 10px;
	background-image: url(./contents/info.svg);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

a {
	color: #222222!important;
	text-decoration: underline;
}
