.container {
	display: block;
	overflow: hidden;
	background: inherit;
	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
	border-bottom: 1px solid #F5F5F5;
	border-top: 1px solid #F5F5F5;
}

span {
	display: inline-block;
	padding: 10px 20px 10px 10px;
	vertical-align: middle;
}

img {
	width: 30px;
	height: 30px;
	object-fit: fill;
	object-position: center;
}

.bond-logo {
	overflow: hidden;
	background-position: center;
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.bond-text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #C4C4C4;
	line-height: 14px;
}

.title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #222222;
	line-height: 14px;
}

.profit {
	color: #50D866;
}
