.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #dadada;
}

.wrapper {
	width: 980px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.brand {
	width: 130px;
	height: 25px;
	background-image: url(./contents/brand.svg);
	background-repeat: no-repeat;
	background-size: contain;
	justify-self: center;
}

.controls {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
}
