.icon_and_title {
    display: flex;
    align-items: center;
}

.image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.name {
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.maturity_date {
    color: #c4c4c4;
}

.percent {
    display: flex;
    color: #50d866;
}

.percent > span:first-child {
    display: flex;
    align-items: center;
}

.percent > span:first-child:after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(./contents/percent.green.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 3px;
    margin-right: 5px;
}

.price {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
}

.price:after {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(./contents/ruble.black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 3px;
}

tr {
    text-align: center;
    align-items: center;
    vertical-align: middle;
    height: auto;
}

td {
    padding: 0 0 10px 0;
    align-items: center;
}
